@use '../../../global' as g;

.a-checkbox-button {
  @include g.flex(center);
  
  &__input {
    display: none;
  }

  &__text {
    background: g.$color-mono-10;
    color: g.$color-mono-80;
    font-size: 14px;
    text-align: center;
    height: 32px;
    padding: 8px;
    line-height: 1.1;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
    
    &--checked {
      background: g.$color-primary;
      color: g.$color-mono-0;
    }
  }
}