@use '../../../global' as g;

.a-error-message {
  font-size: 14px;
  color: g.$color-alert;
  text-align: left;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 6px;

  @include g.mq-down(tablet--under) {
    font-size: 12px;
  }
}
