// Break Points
$break-point--pc: 1440px;
$break-point--pc--under: 1439px;
$break-point--narrow-pc: 1024px;
$break-point--narrow-pc--under: 1023px;
$break-point--tablet: 769px;
$break-point--tablet--under: 768px;
$break-point-sp-small: 374px;

// Colors
$color-primary: #6F42C1;
$color-secondary: #F0EBF9;
$color-disabled: #b8b8b8;
$color-alert: #FC606C;
$color-error: #FDAFB5;
$color-star: #FDBD55;
$color-active: #FDCA77;

$color-mono-100: #212529;
$color-mono-80: #4D5053;
$color-mono-60: #797C7E;
$color-mono-50: #8F9193;
$color-mono-30: #BCBDBE;
$color-mono-20: #D2D3D4;
$color-mono-10: #E8E8E9;
$color-mono-5: #F3F4F4;
$color-mono-0: #fff;

$color-black: #212529;

// Setting
$pc-header-height: 77px;
$sp-header-height: 18.66666667vw;
