// Break Points
$break-point--pc: 1440px;
$break-point--pc--under: 1439px;
$break-point--narrow-pc: 1024px;
$break-point--narrow-pc--under: 1023px;
$break-point--tablet: 769px;
$break-point--tablet--under: 768px;
$break-point-sp-small: 374px;

// Colors
$color-primary: #815296;
$color-secondary: #e6dcea;

$color-mono-80: #3f4d5f;
$color-mono-50: #878f9b;
$color-mono-10: #e6e8ea;
$color-mono-5: #f2f3f5;
$color-mono-0: #fff;

$color-black: #000;

// Setting
$pc-header-height: 77px;
$sp-header-height: 18.66666667vw;
