// Break Points
$break-point--pc: 1440px;
$break-point--pc--under: 1439px;
$break-point--narrow-pc: 1024px;
$break-point--narrow-pc--under: 1023px;
$break-point--tablet: 769px;
$break-point--tablet--under: 768px;
$break-point-sp-small: 374px;

// Colors
$color-primary: #815296;

$color-mono-80: #3F4D5F;
$color-mono-50: #878F9B;
$color-mono-10: #E6E8EA;
$color-mono-5: #F2F3F5;
$color-mono-0: #fff;

$color-black: #000;

// Setting
$pc-header-height: 77px;
$sp-header-height: 18.66666667vw;
