@use '../../global' as g;

.o-audition-announcement {
  border-radius: 10px;
  background: g.$color-mono-0;
  padding: 28px 44px;
  font-size: 18px;

  @include g.mq-down(tablet--under) {
    width: 100%;
    padding: 24px 28px;
    margin: 0 auto;
  }

  &__title {
    font-weight: bold;
    color: g.$color-mono-100;
    line-height: 1.3;
    text-align: center;
  }

  &__text {
    font-size: 16px;
    line-height: 1.8;
    margin: 24px 0 0;
  }
}
