@use '../../global' as g;

.o-cover-image-upload {

  &__label {
    display: block;
    width: 230px;
    background: g.$color-mono-5;
    font-size: 18px;
    padding: 14px 20px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: .2s;

    &:hover, &:active {
      opacity: .8;
    }

    &--upload {
      cursor: wait;
      background: g.$color-mono-10;
      
      &:hover, &:active {
        opacity: 1;
      }
    }
  }

  &__input {
    display: none;
  }

  &__content {
    @include g.flex(center);
    max-width: 632px;
    width: 100%;
    height: 210px;
    background: g.$color-mono-10;
    position: relative;

    &--upload {
      border: 1px solid g.$color-mono-10;
      background: g.$color-mono-0;
    }
  }

  &__loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__cancel {
    @include g.flex(center);
    position: absolute;
    right: -18px;
    top: -18px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: g.$color-primary;
    z-index: 10;
    cursor: pointer;
    transition: .2s;

    &:hover, &:active {
      opacity: .8;
    }

    &-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
      color: g.$color-mono-0;
    }
  }

  &__image {
    width: 100%;
    height: 210px;
    object-fit: cover;
  }

  &__image-icon {
    width: 36px;
    height: 36px;
    font-size: 36px;
    color: #CFD2D7;
  }
}