@use '../../global' as g;

.o-production-detail-header {
  display: grid;
  grid-template:
    "thumbnail .   .  " 40px  
    "thumbnail . names" auto
    "thumbnail .   .  " 10px
    "thumbnail . links" auto /228px 16px auto;

  @include g.mq-down(tablet--under) {
    grid-template:
      "thumbnail  .   names" auto
      "     .     .     .  " 10px
      "  links  links links" auto /100px 10px auto;
  }  

  &__thumbnail {
    @include g.flex(center);
    width: 228px;
    height: 228px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
    grid-area: thumbnail;

    @include g.mq-down(tablet--under) {
      width: 100px;
      height: 100px;
    }

    &--empty {
      background: #CFD2D7;
    }
  }

  &__image-icon {
    font-size: 72px;
    width: 72px;
    height: 72px;
    color: g.$color-mono-10;

    @include g.mq-down(tablet--under) {
      font-size: 36px;
      width: 36px;
      height: 36px;
    }
  }

  &__names {
    grid-area: names;
    align-self: center;
  }

  &__name {
    font-size: 36px;
    margin: 0;
    line-height: 1.4;
    letter-spacing: 1px;

    @include g.mq-down(tablet--under) {
      font-size: 20px;
      margin-bottom: 8px;
    }
  }

  &__caspla-id {
    font-size: 16px;
    margin: 0;
    color: g.$color-mono-50;
    letter-spacing: .8px;
    font-weight: normal;
    
    @include g.mq-up(tablet) {
      margin-bottom: 12px;
    }

    @include g.mq-down(tablet--under) {
      font-size: 14px;
    }
  }

  &__links {
    grid-area: links;
  }
  
  &__link {
    @include g.flex(center);
    min-width: 120px;
    width: 40px;
    height: 40px;
    transition: .2s;

    &:hover {
      opacity: .8;
    }
  }

  &__link-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: g.$color-primary;
  }

  &__production-link {
    font-size: 14px;
    background: #6681CC;
    color: g.$color-mono-0;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 30px;
    line-height: 1.1;
    display: inline-block;
    transition: .2s;
    margin-bottom: 16px;

    &:hover {
      opacity: .8;
    }
  }
}