@use '../../global' as g;

.o-talent-detail-header {
  &__cover {
    width: 100vw;
    height: 450px;

    @include g.mq-down(tablet--under) {
      height: 50.13vw;
    }
  }
  &__image {
    width: 100vw;
    height: 450px;
    position: relative;
    overflow: hidden;

    @include g.mq-down(tablet--under) {
      height: 50.13vw;
    }

    img {
      object-fit: cover!important;
    }
  }

  &__image-icon {
    font-size: 72px;
    width: 72px;
    height: 72px;
    color: g.$color-mono-10;
  }

  &__wrapper {
    width: calc(100% - 60px);
    max-width: 956px;
    margin: 0 auto;
    position: relative;
    padding-top: 36px;

    @include g.mq-down(tablet--under) {
      width: 89vw;
      padding-top: 84px;
    }
  }

  &__top {
    @include g.flex(start);
    gap: 16px;
    position: absolute;
    top: -114px;
    left: 0;
    width: 100%;

    @include g.mq-down(tablet--under) {
      top: -65px;
    }
  }

  &__activity {
    margin-top: -50px;

    @include g.mq-down(tablet--under) {
      display: none;
    }
  }
  &__bookmark {
    position: absolute;
    right: 0;
    top: 50px;

    @include g.mq-down(tablet--under) {
      top: 20px
    }
  }
  &__thumbnail {
    @include g.flex(center);
    width: 228px;
    height: 228px;
    object-fit: cover;
    border-radius: 100%;
    position: relative;
    overflow: hidden;

    @include g.mq-down(tablet--under) {
      width: 130px;
      height: 130px;
    }

    &--empty {
      background: #CFD2D7;
    }
  }

  &__bottom {
    min-height: 100px;
    padding-left: 244px;
    position: relative;
    z-index: 10;

    @include g.mq-down(tablet--under) {
      padding-left: 0;
    }
  }

  &__name {
    font-size: 24px;
    margin: 0;
    color: g.$color-mono-100;
    line-height: 1.4;
    letter-spacing: 1px;

    @include g.mq-up(tablet) {
      padding-right: 100px;
    }
  }

  &__furigana {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    color: g.$color-mono-60;
    letter-spacing: .8px;
  }

  &__caspla-id {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    color: g.$color-mono-60;
    letter-spacing: .8px;
    margin-bottom: 12px;
  }

  &__links {
    @include g.flex(end);
    margin-top: -16px;
  }

  &__link {
    @include g.flex(center);
    min-width: 120px;
    width: 40px;
    height: 40px;
    transition: .2s;

    &:hover {
      opacity: .5;
    }
  }

  &__link-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: g.$color-primary;
  }

  &__production-link {
    font-size: 14px;
    background: g.$color-mono-0;
    color: g.$color-mono-100;
    border: 1px solid g.$color-mono-100;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 30px;
    line-height: 1.1;
    display: inline-block;
    transition: .2s;
    margin-bottom: 16px;

    &:hover {
      opacity: .5;
    }
  }

  &__copy {
    @include g.flex(end);
    position: absolute;
    top: 4px;
    right: 0;
    color: g.$color-mono-50;
    font-size: 16px;
    gap: 4px;
    font-weight: bold;
    background: transparent;
    transition: .2s;
    cursor: pointer;

    &:hover, &:active {
      opacity: .5;
    }

    @include g.mq-down(tablet--under) {
      top: -44px;
    }

    &-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
  }

  &__bookmark-popover {
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    width: 300px;
    position: absolute;
    right: -8px;
    top: 100%;

    &--show {
      opacity: 1;
      visibility: visible;
    }

    @include g.mq-down(tablet) {
      width: 220px;
    }
  }

  &__list {
    text-align: center;
    padding: 10px 10px;
    li {
      &:not(:first-of-type) {
        margin-top: 15px;
      }
    }

    &--button {
      padding: 5px 0;
      background-color: g.$color-mono-100;
      color: g.$color-mono-0;
      font-weight: bold;
      text-decoration: none;
      border-radius: 20px;

    }

  }
}
