@use '../../global' as g;

.m-card-item {
  width: 100%;
  background: transparent;
  outline: 0;
  transition: .2s;
  cursor: pointer;

  &:active {
    opacity: .8;
  }

  @include g.mq-up(tablet-pc) {
    &:hover {
      opacity: .8;
    }
  }

  &__content {
    display: grid;
    grid-template:
      "thumbnail . head" auto
      "thumbnail . ." 30px
      "thumbnail . profile" auto / 146px 30px auto;
    background: g.$color-mono-5;
    border-radius: 10px;
    padding: 30px;
    position: relative;
  }

  &__thumbnail {
    width: 146px;
    height: 146px;
    object-fit: cover;
    display: block;
    background: #CFD2D7;
    border-radius: 100%;
    grid-area: thumbnail;
  }

  &__head {
    @include g.flex(between);
    flex: 1 0 0;
    position: relative;
    grid-area: head;
  }

  &__bookmark {
    position: relative;
    z-index: 10;
    transition: .2s;

    &:active {
      transform: scale(.98);
    }

    @include g.mq-up(tablet-pc) {
      &:hover {
        opacity: .8;
      }
    }
  }

  &__name {
    font-size: 24px;
    color: g.$color-primary;
    letter-spacing: 2.4px;
    line-height: 1.1;
    margin: 0;
    text-align: left;
    flex: 1 0 0;
  }

  &__sub {
    position: absolute;
    left: 0;
    bottom: -16px;
    font-size: 16px;
    color: rgba(16, 33, 56, 0.5);
    line-height: 1.1;
  }

  &__profile {
    grid-area: profile;
  }

  &__text {
    @include g.line-clamp;
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
    margin: 0;
    overflow: hidden;
  }
}