@use '../../global' as g;

.m-card-item {
  background: transparent;
  outline: 0;
  transition: .2s;
  cursor: pointer;

  &:active {
    opacity: .8;
  }

  @include g.mq-up(tablet-pc) {
    &:hover {
      opacity: .8;
    }
  }

  &__content {
    @include g.flex;
    gap: 30px;
    background: g.$color-mono-5;
    border-radius: 10px;
    padding: 30px;
    position: relative;
  }

  &__thumbnail {
    width: 146px;
    height: 146px;
    object-fit: cover;
    display: block;
    background: #CFD2D7;
    border-radius: 100%;
  }

  &__head {
    flex: 1 0 0;
    position: relative;
    padding-bottom: 34px;
  }

  &__bookmark {
    position: relative;
    z-index: 10;
    transition: .2s;

    &:active {
      transform: scale(.98);
    }

    @include g.mq-up(tablet-pc) {
      &:hover {
        opacity: .8;
      }
    }
  }

  &__name {
    font-size: 24px;
    color: g.$color-primary;
    letter-spacing: 2.4px;
    line-height: 1.1;
  }

  &__sub {
    position: absolute;
    left: bottom;
    font-size: 16px;
    color: rgba(16, 33, 56, 0.5);
    line-height: 1.1;
  }
}