@use './global' as g;

// Reset Style
* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body {
  background: g.$color-mono-0;
  color: g.$color-black;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-feature-settings: 'palt';

  @include g.mq-down(tablet--under) {
    font-size: 3.467vw; // 13px
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.75;
  @include g.mq-down(tablet--under) {
    font-size: 3.467vw; // 13px
  }
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
img,
button {
  display: block;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
}

img {
  width: 100%;
}
