@use './global' as g;

.p-password-reset {
  @include g.page-margin;

  &__content {
    max-width: 632px;
    margin: 0 auto;

    @include g.mq-down(tablet--under) {
      width: 89vw;
    }
  }

  &__description {
    color: g.$color-mono-50;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.4;
    margin: 28px 0;

    @include g.mq-down(tablet--under) {
      font-size: 14px;
    }
  }

  &__item {
    margin-bottom: 26px;
  }

  &__button {
    max-width: 310px;
    width: 100%;
    margin: 30px auto;
  }
}
