@use './global' as g;

.p-production-setting {
  @include g.page-margin;
  max-width: 956px;
  margin: 0 auto;

  @include g.mq-down(tablet--under) {
    width: 89vw;
    padding: 30px 0 0;
    margin-bottom: 60px;
  }

  &__content {
    @include g.mq-up(tablet) {
      padding: 0 30px;
    }
  }

  &__head {
    min-height: 60px;
    padding: 14px 0;
    border-bottom: 1px solid g.$color-mono-10;
    margin-bottom: 30px;

    @include g.mq-up(tablet) {
      @include g.flex(between);
    }
  }

  &__title {
    font-size: 24px;
    letter-spacing: 2.4px;
    color: g.$color-primary;
    line-height: 1.1;
    margin: 0 20px 0 0;
  }

  &__buttons {
    @include g.flex(end);
    gap: 12px;
  }

  &__button {
    width: 146px;
  }

  &__sub-head {
    @include g.flex(between);
    gap: 20px;
  }

  &__sub-title {
    font-size: 24px;
    letter-spacing: 2.4px;
    margin: 0;
    color: g.$color-mono-50;
    font-weight: bold;
    line-height: 1.1;
  }

  &__menus {
    @include g.flex(end);
    gap: 20px;
  }

  &__add-talent {
    width: 105px;
  }

  &__text-link {
    color: g.$color-primary;
    text-decoration: underline;
    background: transparent;
    cursor: pointer;

    &:hover, &:active {
      text-decoration: none;
    }
  }

  &__no-talent {
    @include g.flex(center);
    min-height: 320px;
    line-height: 1.8;
    text-align: center;
  }

  &__edit {
    max-width: 632px;
    margin: 0 auto;
  }
}