@use './global' as g;

.p-production-detail {
  max-width: 1016px;
  padding: 120px 30px;
  // TODO：margin設定全画面で共通化できそうだったらあとで対応
  margin: 0 auto;

  @include g.mq-down(tablet--under) {
    width: 89vw;
    padding: 30px 0 0;
    margin-bottom: 60px;
  }

  &__content {
    width: 680px;
    margin: 0 auto;

    @include g.mq-down(tablet--under) {
      width: 89vw;
    }
  }

  &__description {
    margin: 30px 0 60px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: 1px;
    color: g.$color-mono-80;
    margin: 0 0 30px;

    @include g.mq-down(tablet--under) {
      margin-bottom: 18px;
    }
  }

  &__no-data {
    @include g.flex(center);
    text-align: center;
    line-height: 1.8;
    margin: 60px 0;
  }

  &__list {
    @include g.mq-up(tablet) {
      @include g.flex(start, start);
      gap: 16px;
      flex-wrap: wrap;
    }
  }
  &__item {
    width: calc((100% - 32px) / 3);

    @include g.mq-down(tablet--under) {
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
  &__contact {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: g.$color-mono-80;
    color: g.$color-mono-5;
    font-style: inherit 500;
    padding: 20px 40px;
    border-radius: 10px;
    margin-top: 40px;
    >:first-child {
      grid-column: 1 / span 2;
      >:first-child{
        font-weight: bold;
      }
    }
    >:nth-child(even) {
      >:first-child { 
        font-weight: bold;
      }
    }
    p {
      margin: 3px;
    }
    @include g.mq-down(tablet--under) {
      display: inline-block;
      width: 100%;
      padding : 10px 20px;
    }
  }
}