@use './global' as g;

.p-sign-in {
  @include g.page-margin;
  min-height: 100%;

  &__content {
    max-width: 632px;
    margin: 0 auto;

    @include g.mq-down(tablet--under) {
      width: 89vw;
    }
  }

  &__form {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(129, 82, 150, 0.2);
  }

  &__item {
    margin-top: 24px;

    &:first-of-type {
      margin-top: 30px;
    }
  }

  &__logo {
    @include g.flex(center);
    margin: 0 auto 64px;
  }

  &__link {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.1;
    font-size: 14px;
    color: g.$color-primary;
    cursor: pointer;
    transition: .2s;

    &:hover, &:active {
      opacity: .8;
    }

    @include g.mq-down(tablet--under) {
      font-size: 12px;
      margin-top: 8px;
    }
  }

  &__button {
    margin: auto;
    max-width: 310px;
    padding: 20px 20px;
  }

  &__sign-up {
    margin: auto;
    max-width: 310px;
  }
}