@use './global' as g;

.p-talents {
  @include g.page-margin;

  &__wrapper {
    width: 100%;
    max-width: 1024px;
    padding: 0 32px;
    margin: 0 auto;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }

  &__loading {
    margin-top: 55px;
  }
}

.p-talent-detail {
  // TODO：margin設定全画面で共通化できそうだったらあとで対応
  margin-bottom: 120px;

  @include g.mq-down(tablet--under) {
    margin-bottom: 60px;
  }

  &__content {
    width: 680px;
    margin: 0 auto;

    @include g.mq-down(tablet--under) {
      width: 89vw;
    }
  }

  &__description {
    margin: 30px 0;
  }
}