@use './global' as g;

.p-talents {
  @include g.page-margin;

  &__wrapper {
    width: 100%;
    max-width: 1024px;
    padding: 0 25px;
    margin: 0 auto;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }

  &__loading {
    margin-top: 200px;
  }

  &__search-results {
    color: g.$color-mono-30;
    margin: 10px 0;
  }

  &__alertbox {
    background: g.$color-mono-0;
    color: g.$color-mono-100;
    border: 1px solid g.$color-mono-30;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 0 30px;

    p{
      margin: 0;
      letter-spacing: 1px;
    }
  }

  &__pagination {
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }

  &__redirect {
    display: block;
    border-radius: 50%;
    background: g.$color-mono-0;
    border: 1px solid g.$color-mono-100;
    width: 65px;
    height: 65px;
    margin: 0px 15px;
    padding: 18px 10px;
    text-align: center;
    position: relative;
    cursor: pointer;

    p {
      display: inline;
      font-weight: bold;
      font-size: 24px;
      line-height: 1;
    }

    &:hover {
      opacity: .75;
    }

    @include g.mq-down(tablet--under) {
      margin: 0px 8px;
      padding: 1px 8px;
      width: 25px;
      height: 25px;

      p {
        font-size: 14px;
        // font-weight: 600;
        // margin-top: 1px;
      }
    }
  }
}

.p-talent-detail {
  // TODO：margin設定全画面で共通化できそうだったらあとで対応
  margin-bottom: 120px;

  @include g.mq-down(tablet--under) {
    margin-bottom: 60px;
  }

  &__content {
    width: 680px;
    margin: 0 auto;

    @include g.mq-down(tablet--under) {
      width: 89vw;
    }
  }

  &__description {
    margin: 30px 0;
    white-space: pre-line;
  }
}
