@use '../../../global' as g;

.o-production-talent-item {

  @include g.flex(start);

  &__image {

  }

  &__names {

  }

  &__name {
    font-size: 24px;
    color: g.$color-mono-80;
    line-height: 1.1;
  }

  &__caspla-id {
    color: g.$color-mono-50;
    line-height: 1.1;
  }
}
